body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
  color: #808080;
}


/* containers */
.container-fluid {
  /*personalizing bootstrap's class */
  padding: 2% 15%;
}


/* heading */
.big-heading{
  font-size: 2.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 2.5rem;
  line-height: 1.5;
}

/*sections */
.coloured-section{
  background-color: #CAE4DB;
  color: #808080;
}

.white-section{
  background-color: #F5F4F4;
}

/* title section */

#title {
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}




/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 1.75rem;
}

.nav-item {
  padding: 0 10px 0 10px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-brand{
  color: white !important;
}


/* title section */
.download-btn {
  /* margin: 5% 3% 5% 0; */
  margin: 0;
  margin: 5% 5% 5% 5%;
}

.title-image {
  width: 100%;
  padding-left: 20px;
  /* margin: 20px; */
  /* transform: rotate(25deg); */
  /* position: absolute; */
  /* right: 20%; */
}

@media (max-width: 1080px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* features section */
#features {
  padding: 7% 15%;
  position: relative;
}

.feature-desc {
  padding: 5%;
}

.feature-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem
}

/* images for features */
.feature-image {
  color: #CAE4DB;
  width: 100%;
  padding: 10%;
}

.feature-image:hover {
  color: #CDAC81;
}

/* testimonial section */

.testimonial-image {
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

.testimonial-text{
  font-size: 2.5rem;
  line-height: 1.5;
}

.carousel-item{
  padding: 7% 15%;
}

/* press section */
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text{
  font-size: 2.5rem;
  line-height: 1.5;
}

.price-level{
    font-size: 2.60rem
}

/* call to action section */
.button-cta{
  margin: 5% 3%;
}

.cta-heading{
  font-size: 3rem;
}

/* footer */
#footer {
  /* background-color: white; */
  padding: 2.5% 15% 1% 15%;
}

.icon-footer{
  padding: 0 1% 1% 0;
}


/* additional css information for faq page */
body{
    background:#f5f5f6;
    margin-top:20px;
}
/*Faq*/

.faq-search-wrap {
    padding: 50px 0 60px;
}

.faq-search-wrap .form-group .form-control,
.faq-search-wrap .form-group .dd-handle {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.faq-search-wrap .form-group .input-group-append {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
}

.faq-search-wrap .form-group .input-group-append .input-group-text {
    background: transparent;
    border: none;
}

.faq-search-wrap .form-group .input-group-append .input-group-text .feather-icon > svg {
    height: 18px;
    width: 18px;
}
.bg-teal-light-3 {
    background-color: #7fcdc1 !important;
}

.hk-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

@media (min-width: 576px){
    .mt-sm-60 {
        margin-top: 60px !important;
    }
}
.mt-30 {
    margin-top: 30px !important;
}

.list-group-item.active {
    background-color: #00acf0;
    border-color: #00acf0;
}
.accordion .card .card-header.activestate {
    border-width: 1px;
}
.accordion .card .card-header {
    padding: 0;
    border-width: 0;
}
.card.card-lg .card-header, .card.card-lg .card-footer {
    padding: .9rem 1.5rem;
}
.accordion>.card .card-header {
    margin-bottom: -1px;
}
.card .card-header {
    background: transparent;
    border: none;
}
.accordion.accordion-type-2 .card .card-header > a.collapsed {
    color: #324148;
}
.accordion .card:first-of-type .card-header:first-child > a {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.accordion.accordion-type-2 .card .card-header > a {
    background: transparent;
    color: #00acf0;
    padding-left: 50px;
}
.accordion .card .card-header > a.collapsed {
    color: #324148;
    background: transparent;
}
.accordion .card .card-header > a {
    background: #00acf0;
    color: #fff;
    font-weight: 500;
    padding: .75rem 1.25rem;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a {
    text-decoration: none;
    color: #00acf0;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}


.badge.badge-pill {
    border-radius: 50px;
}
.badge.badge-light {
    background: #eaecec;
    color: #324148;
}
.badge {
    font-weight: 500;
    border-radius: 4px;
    padding: 5px 7px;
    font-size: 72%;
    letter-spacing: 0.3px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
}
.ml-15 {
    margin-left: 15px !important;
}

.accordion.accordion-type-2 .card .card-header > a.collapsed:after {
    content: "\f158";
}

.accordion.accordion-type-2 .card .card-header > a::after {
    display: inline-block;
    font: normal normal normal 14px/1 'Ionicons';
    speak: none;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    position: absolute;
    content: "\f176";
    font-size: 21px;
    top: 15px;
    left: 20px;
}

.mr-15 {
    margin-right: 15px !important;
}
